{% extends 'base.html' %}


{% block head %}
<title>Match Student</title>
<nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Upload Data <i class="fas fa-file-upload"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('match_student') }}">Match Students <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Prepare Emails <i class="fas fa-envelope"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings <i class="fas fa-cog"></i></a>
            </li>
        </ul>
    </div>
    <!-- <a class="navbar-brand" href="#">Internship Manager</a> -->
</nav>
{% endblock %}


{% block body %}

<div class="container">
    <a style="font-size: 30px; text-align: left; display: block; margin: auto;">Match Students</a>
    <hr style="width: 100%">
</div>

<table class="center">
    <tr style="background-color: #ffddcc">
        <th>Student Name</th>
        <th>Student Preference</th>
        <th>Company List</th>
        <th>Status</th>
    </tr>

{% for student in students %}
    <tr>
        <td>{{ student.Name }}</td>
        <td>{{ student.Preference }}</td>
        <td>
          <form action="{{ url_for('match_student') }}" method="POST" style="border: none; background-color: rgb(255, 204, 0); padding:0; margin:0;">
            <select name="selected_company" onchange="this.form.submit()">
              {% for company_id, company_name in company_options %}
                {% if student.Company_ID == company_id %}
                  <option value="{{ company_id }}" selected>{{ company_name }}</option>
                {% else %}
                  <option value="{{ company_id }}">{{ company_name }}</option>
                {% endif %}
              {% endfor %}
              {% if student.Company_ID == None %}
                <option value="" selected>Select a company</option>
              {% endif %}
            </select>
            <input type="hidden" name="student_id" value="{{ student.Student_ID }}">
          </form>
        </td>
        <td>
          <form action="{{ url_for('match_student') }}" method="POST" style="border: none; background-color: rgb(255, 204, 0); padding:0; margin:0;">
            <select name="selected_status" onchange="this.form.submit()">
              {% for status in status_options %}
                {% if student.Status == status %}
                  <option value="{{ status }}" selected>{{ status }}</option>
                {% else %}
                  <option value="{{ status }}">{{ status }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <input type="hidden" name="student_id" value="{{ student.Student_ID }}">
            {% if student.Status == "Rejected" %}
              <input type="hidden" name="selected_company" value="">
            {% else %}
              <input type="hidden" name="selected_company" value="{{ student.Company_ID }}">
            {% endif %}
          </form>
        </td>
    </tr>
{% endfor %}

</table>


{% endblock %}
