{% extends 'base.html' %}


{% block head %}
<title>Index Page</title>
<nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Upload Data <i class="fas fa-file-upload"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('match_student') }}">Match Students <i class="fas fa-users"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Prepare Emails <i class="fas fa-envelope"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings <i class="fas fa-cog"></i></a>
            </li>
        </ul>
    </div>
    <!-- <a class="navbar-brand" href="#">Internship Manager</a> -->
</nav>
{% endblock %}




{% block body %}

<div class="container">
    <a style="font-size: 30px; text-align: left; display: block; margin: auto;">Match Students</a>
    <hr style="width: 100%">

    <table class="center">
        <tr>
            <th><h4>Student name</h4></th>
            <th><h4>Student Preference</h4></th>
            <th><h4>Company List</h4></th>
            <th><h4>Status</h4></th>
        </tr>
        {% for student in students %}
            <tr>
                <td><p>{{ student.Name }}</p></td>
                <td><p>{{ student.Preference }}</p></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
